.settings{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    animation: fadeinbottom 1s;
}
.settings div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.settings div p{
    margin: 0;
    color: var(--f0);
}
.settings button{
    width: 100%;
}
input, select{
    width: 500px;
}
#installationPath:hover{
    cursor: pointer;
}