.settings{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}
.settings div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    animation: fadeinbottom 1s;
}
.settings div p{
    margin: 0;
}
.settings button{
    width: 100%;
    animation: fadeinbottom 1s;
}
input, select{
    width: 500px;
}